ion-content {
  --padding-start: 2px;
  --padding-end: 2px;
  --padding-top: 2px;
  --padding-bottom: 2px;
}

.home-content {
  padding: 8px;
  margin: 4px;
}

.champion-list{
  margin: 4px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 4px;
}

ion-list-header {
  font-size: xx-large;
  align-items: center;
}

ion-col{
  display: table;
}

.champion-item {
  padding: 1px;
  border-radius: 8px;
  font-size: x-large;
  width: 56px;
  height: 56px;
  --border-color:transparent;
  ion-thumbnail {
    width: 56px;
    height: 56px;
    }

  ion-img{
    width: 56px;
    height: 56px;
  }

  @media (max-width: 600px) {
    ion-label {
      display: none;
    }
  }

}
