ion-content {
  --padding-start: 2px;
  --padding-end: 2px;
  --padding-top: 2px;
  --padding-bottom: 2px;
}

.home-content {
  padding: 8px;
  margin: 4px;
}

#champion-list{
  margin: 4px;
}

ion-col{
  padding-left: 4vw;
  padding-right: 8vw;

}

ion-list-header {
  font-size: xx-large;
  align-items: center;
}

ion-item {
  margin: 2px;
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 6px;
  font-size: x-large;
}
